* {
  box-sizing: border-box;
}
html {
  font-size: 18px;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family:'Barlow Condensed', sans-serif;
  background: #fff;
  min-height:100vh;
}
:root {
  --red: hsl(0, 100%, 68%);
  --verydarkblue: hsl(230, 29%, 20%);
  --darkgrayishblue: hsl(230, 11%, 40%);
  --grayishblue: hsl(231, 7%, 65%);
  --lightgrayishblue: hsl(207, 33%, 95%);
}
/* Navigation Styling */
a{
  text-decoration:none;
}
nav{
  display:flex;
  width:100%;
  margin:0 auto;
  padding:30px 0px 30px 0px;
  align-items:center;
  font-weight:700;
}
nav::after{
  content:"";
  position:absolute;
  top:0;
  right:0;
  border-bottom-left-radius: 80px;
  background-color:var(--lightgrayishblue);
  width:50vw;
  height:55vh;
  z-index:-1;
}
.logo{
  display:inline;
  padding-left:100px;
}
ul{
  list-style-type:none;
  margin-left:auto;
  order:2;
  padding:0;
  padding-right:60px;
}
ul li:first-child{
  padding-left:0;
}
ul li{
  display:inline;
  padding-left:30px;
  padding-right:30px;
}
ul li a{
color:var(--verydarkblue);
text-transform:uppercase;
}
.login{
  color:var(--grayishblue);
}
.circle::before{
  color:var(--grayishblue);
  content:"•";
  font-size:1.5rem;
}
/* Navigation Styling Completed */

/* Wrapper Styling */
main{
  margin-top:30px;
}
.container{
  display:flex;
}
.content{
  padding-left:100px;
  margin-top:55px;
  width:40%;
}
/* Content Styling */
.new{
  background-color:var(--verydarkblue);
  border-radius:30px;
  padding:3px 10px 3px 10px;
  color:#fff;
  text-transform:uppercase;
  font-weight:700;
  font-size:0.9rem;
}
.lighttext{
  letter-spacing: 5px;
  color:var(--grayishblue);
  text-transform:uppercase;
  font-size:0.9rem;
  padding-left:15px;
}
h1{
  text-transform:uppercase; 
  color:var(--verydarkblue);
  font-size:3rem;
  margin:20px 0px 35px 0px;
}
p{
  font-family: 'Barlow', sans-serif;
  color:var(--darkgrayishblue);
  font-weight:400;
}
.button_demo{
  padding:11px 22px 11px 22px;
  background-color:var(--red);
  color:#fff;
  text-transform:uppercase;
  font-weight:700;
  font-size:0.9rem;
  border-radius:6px;
}
.button_preview{
  margin-top:70px;
}
.preview{
  text-transform:uppercase;
  letter-spacing:4px;
  color:var(--grayishblue);
  font-size:0.85rem;
  padding-left:20px;
}

/* Image Styling */
figure{
  max-width:45vw;
  margin-left:auto;
  order:2;
}
.hamburger-container{
  display:none;
}
.overlay{
  display:none;
}
.hamburger-container{
  display:none;
}
.bar1,.bar2,.bar3{
  margin-bottom:5px;
  width:25px;
  height:3px;
  background-color:var(--verydarkblue);
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition:0.4s ease-in-out;
  cursor:pointer;
}
.change .bar1{
transform:rotateZ(45deg) scaleX(1.25) translate(5px, 5px);
}
.change .bar2{
opacity:0;
}
.change .bar3{
transform:rotateZ(-45deg) scaleX(1.25) translate(5px, -5px);
}
.overlay-content{
  width:100%;
  background: #ffffff;
  border-radius:5px;
  box-shadow:5px 4px 2.5px var(--grayishblue);
  border:none;
}
.overlay-content a{
  display:block;
  text-align:center;
  color:var(--verydarkblue);
  text-transform:uppercase;
  font-weight:700;
  padding-top:15px;
  padding-bottom:15px;
  font-size:1.1rem;
}
.overlay-content .active{
color:var(--grayishblue);
}
.overlay-content hr{
  background-color:var(--lightgrayishblue);
  width:80%;
}
/* ==================================== Media Queries Ahead ==================================== */

@media (min-width:320px) and (max-width:480px){
  /* Mobile Navigation */
  .hamburger-container{
  display:block;
}

/* Mobile Navigation Ends  */
main{
  margin-top:20px;
}
nav{
  display:flex;
}
nav::after{
  height:70vh;
  width:50vw;
}
nav ul{
  display:none;
}
nav .logo{
  float:left;
  padding-left:30px;
}
nav .hamburger-container{
  order:2;
  margin-left:auto;
  padding-right:30px;
}
figure{
  order:1;
  max-width:100%;
  margin:0;
  height:40vh;
}
figure img{
 max-height:100%;
 padding-left:10px;
}
.container{
  display:flex;
 flex-direction:column;
}
.overlay{
  display:none;
  width:80%;
  margin:0 auto;
  position:absolute;
  top:15%;
  left:12%;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  border:0.5px solid rgb(236, 236, 236);  
}
.content{
  order:2;
  margin:0;
  padding:0;
  padding-top:80px;
  display:block;
  width:85%;
  margin:0 auto;
}
.new{
  font-size:0.7rem;
  margin-top:10px;
}
.lighttext{
  font-size:0.7rem;
  margin-top:10px;
  padding-left:18px;
}
h1{
  font-size:2rem;
  margin:15px 0px 15px 0px;
}
p{
margin:20px 0px 20px 0px;
font-size:0.9rem;
font-weight:400;
}
.button_preview{
  margin:30px 0px 30px 0px;
}
.button_demo{
  font-size:0.7rem;
  padding:8px 16px 8px 16px;
}
.preview{
  font-size:0.6rem;
  padding-left:12px;
  letter-spacing:3px;
}
}

/* Media Query for Tablets */
@media (min-width:481px) and (max-width:767px){
nav ul{
  padding-right:20px;
}
ul li{
  padding-left:15px;
  padding-right:15px;
}
nav .logo{
  float:left;
  padding-left:30px;
}
.hamburger-container{
  display:none;
}
.overlay{
  display:none;
}
.content{
  padding-left:30px;
  width:65%;
  margin-top:20px;
}
h1{
  font-size:3rem;
}
.new{
  font-size:0.8rem;
}
.lighttext{
  font-size:0.7rem;
}
.button_demo{
  padding:7px 14px 7px 14px;
  font-size:0.7rem;
}
.preview{
  font-size:0.7rem;
  padding-left:10px;
}
.button_preview{
  margin-top:40px;
  margin-bottom:0px;
}
}
/*################################# Code Freeze ################################# */
